* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: lightcoral;
  font-family: cursive;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}
.first {
  color: rgb(27, 7, 7);
}

#your-email {
  background-color: deeppink;
  border: 5px solid #4444;
  width: 600px;
  padding: 25px;
  margin-top: 30px;
}
